body {
    background-color:aqua;
}
h1{
    font-family: serif;
    font-size: 24px
}
ul{
    font-family: Verdana;
    text-align: center;
    list-style-type:none;
    font-size:medium
}
p{

}
li::first-letter{
    font-size:x-large;
    

}
.copyright{
    font-size:small;
}