bbody {
    background-color:#55CCFF;
}
h1{
    font-family: serif;
    font-size: 24px
}
ul{
    font-family: Verdana;
    text-align: center;
    list-style-type:none;
    font-size:medium
}

p{
font-family: sans-serif;
font-size:14px;
}
li::first-letter{
    font-size:x-large;
    

}
.copyright{
    font-size:14px;
}
